div.row {
  margin-top: 5px;
}

.img-default {
  margin:5px 0px;
  padding: 0px;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  border: 2px black solid !important;
}


/*****Hover*****/
img:hover {
  border: 3px solid lightblue !important;
}


/****Modal Images*****/
.modal-image {
  width: 500px !important;
  height: 500px !important;
}
